<h3>Dashboards <%= " within an iframe" if params[:framed] %></h3>

<div id="mirror42"></div>

<script>Mirror42.show("<%= Mirror42Encryption.token(current_user) %>", "/dashboards", "2000px");</script>

