<!DOCTYPE html>
<html>
<head>
  <title>Mirror42 UI Integration Example</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="masthead">
  <h2>Mirror42 UI Integration Example</h2>
</div>

<div id="menu">
  <a href="/products">My Application</a>
  <a href="/mirror42/scorecards">Scorecards</a>
  <a href="/mirror42/dashboards">Dashboards</a>
  <a href="/mirror42/messages">Messages</a>
</div>

<div id="content">
  <%= yield %>
</div>

</body>
</html>
